[2016-09-24 17:44] Hanoosh opened #2 "Tor support and other features."
Please have a look at this : https://github.com/lucdew/goransomware

Combining your project with some of that one features like : Tor, Blockchain polling.. is a great idea.
Regards,

[2016-09-24 19:15] mauri870 commented on #2
Nice ideas! I'll look at that as soon as possible.
I finished all my plans with the malware itself (except the stream encryption) and I will focus on new features.
Have you tested my project?

[2016-09-24 19:34] Hanoosh commented on #2
Thanks for your reply, I'll setup a VM for testing and playing with it tomorrow. it is a very good project.

[2016-09-25 00:18] mauri870 commented on #2
Waiting for your feedback :)

[2016-10-06 11:00] mauri870 opened #3 "Tor static link and cross compilation"
Hi guys, I've found some problems with the compilation  with tor statically linked on the malware. I'm on [this feature](https://github.com/mauri870/ransomware/tree/feature/tor-link)

It's currently working on linux but the malware is only for windows so we need make the cross compilation.

The [Makefile](https://github.com/mauri870/ransomware/blob/feature/tor-link/Makefile) has been updated to do

[2016-10-06 22:17] Hanoosh commented on #3
Hi,

Have a look here : https://github.com/KoreTeam/KoreCoin/tree/master/src/tor

and here you can see how it is called : [](https://github.com/KoreTeam/KoreCoin/blob/1278615496dccaae615fb195eed2acd76266e4c4/src/net.cpp)

and : https://github.com/KoreTeam/KoreCoin/blob/master/src/tor/korecoin.cpp
and : https://github.com/KoreTeam/KoreCoin/blob/master/src/tor/korecoin.h

here you can see many thing

[2016-10-06 22:24] Hanoosh commented on #3
also found this related to -mthreads :

https://github.com/KoreTeam/KoreCoin/blob/master/korecoin-qt.pro#L479

[2016-10-07 00:12] mauri870 commented on #3
Hi @Hanoosh, thanks for the links. I will check soon.

I'm stucked on this part and I need finish this to proceed with the next features :disappointed:

[2016-10-07 00:25] Hanoosh commented on #3
Here is another link: http://blog.hashbangbash.com/2014/04/linking-golang-statically/

i'm also trying to dig for more info about this. if this can not be done, i think the best way is to pack tor.exe and the .dlls with the malware, then auto extract and run and make proxy on the malware ( but this is not good as the final malware.exe will be big size.

another idea is to just make it connect to C

[2016-10-07 00:31] mauri870 commented on #3
I think I'm just missing some flags during compilation or not using mingw correctly because it is suposed to work  while building for windows... On linux linking tor statically generates a 12mb binary

[2016-10-07 00:35] Hanoosh commented on #3
i think you can use : strip , it will reduce the file size

[2016-10-07 00:45] mauri870 commented on #3
The C&C need to be a hidden service, tor2web can be an alternative to this

[2016-10-07 00:47] mauri870 commented on #3
I've spend some thime trying to link tor with the final binary, it generates a lot of code, a lot of dependencies and a lot of time to compile... I'm thinking to leave this idea and choose amore lightweight alternative

[2016-10-07 00:50] Hanoosh commented on #3
Yes, i hope some other developers joins the party. good job mate

[2016-10-07 01:04] mauri870 commented on #3
Thanks for the ideas and links @Hanoosh
I will keep this issue open for discussion and any progress I will post here
Cheers!

[2016-10-07 02:04] mauri870 opened #4 "Ignore already infected victim"
The malware need a form to recognize if the actual user running the malware is already infected and skip before trigger the encryption proccess.

My idea is something like a "lock file",  a hidden file or whatever created by the malware after finish the encryption process. This file will store the id of the current user to make possible the malware retrieve some information from de C&C server (thi

[2016-10-09 08:52] appendhc commented on #3
Im fixed it now my version work with tor

[2016-10-09 09:58] Hanoosh commented on #4
Adding a key to to the registry that holds the information is a good idea, for example:

Infected: True
Encrypted: True or False
Paid: True or False
Pubkey :
BTCAddr:

malware at first run will add registry value "Infected: True", then it starts to ask server about pubkey and a bitcoin address it then save it to reg Pubkey : , BTCAddr:, then after encryption complete, it will finally add values En

[2016-10-09 12:57] mauri870 commented on #4
Read my mind, go already have a package for interact with windows registry

https://godoc.org/golang.org/x/sys/windows/registry

I think this is a best approach than a simple hidden file

[2016-10-09 13:12] Hanoosh commented on #4
Yes, simple and easy 👍

[2016-10-09 13:13] mauri870 opened #5 "Cool name"
I think we need a different name rather than simply call it "ransomware", we need a identity

Suggest your cool name here ;)

[2016-10-10 11:51] Hanoosh commented on #3
you got Tor linked for windows ?

[2016-10-10 11:54] appendhc commented on #3
Yes

On Oct 10, 2016 3:21 PM, "Hanoosh" <notifications@github.com> wrote:

[2016-10-10 12:33] mauri870 commented on #3
@appendhc Can you share the code with us?

[2016-10-10 18:39] mauri870 commented on #3
@Hanoosh Not yet :disappointed:

Probably I will use tor2web

[2016-10-11 09:32] appendhc opened #6 "Add drive"
Hi
This ransomware only lock userprofile folder
Please add a option for support all drive
C: d: and other
But in c: don't lock any thing in program files and eindows folder

[2016-10-11 11:06] mauri870 commented on #6
Hi @appendhc

I will add more flexibility for folders, thanks

Generally crypto-ransomwares encrypt only personal files for prevent system crashes. Probably encrypt Program Files or the Windows folder will cause instability and the process cannot be finished properly.

[2016-10-12 02:06] #6 closed

[2016-10-13 11:58] justuandme opened #8 "Custom Paths and Extensions"
where can i define custom extensions and custom paths ?
i have tried this in win 7 vm. it encrypts some csv files on c and pictures on c drive.
but it didn't create any html file on desktop.

[2016-10-13 12:18] justuandme commented on #5
GOCENT, GOlock.. :D

[2016-10-13 12:48] mauri870 commented on #8
You can enable the console mode to see the log information. For that remove the `-H windowsgui` from te `go build` command on Makefile before build.

Custom paths and extensions can be specified on [this file](https://github.com/mauri870/ransomware/blob/master/cmd/common.go)

It can take a while depending on the amount of files that you have because are only 2 workers encrypting files in parallel

[2016-10-13 14:52] justuandme commented on #8
i just downloaded this today. let me configure and run another test from scratch.
i will post details here soon.

[2016-10-13 15:14] mauri870 opened #9 "List of encrypted files"
After encrypting the files we can generate a list of files affected

[2016-10-13 15:40] justuandme commented on #8
how to make the ransomware.exe work on 32 bit windows ?
its showing error on running x86 32bit win7 VM.

[2016-10-13 16:02] mauri870 commented on #8
Oh, good question. I've missed that

I think we can make it x86 by default

I will open a PR to compile for x86 by default. For now you can use `env GOOS=windows GARCH=386 make`

[2016-10-13 16:21] justuandme commented on #8
ok now the files are encrypted on windows and on server side it sends these keys. in database.db file.

[code]
now which key is use to unlock the files ? after running unlocker.

[2016-10-13 16:30] justuandme commented on #8
Alright i used this key to decrypt it : 338acca6e104d8b52ac5886d34271c67
and it works... contents are decrypted now.
nice program.... but one question.
what are these number ?
[code]

[2016-10-13 16:52] mauri870 commented on #8
You can get your encryption key pointing to `http://server-address/api/keys/:id`, where :id is your identification key stored on the file on desktop

I use buntdb for store the keys, so this numbers must be referent to db indexes I guess

[2016-10-13 17:33] justuandme commented on #8
Alright great ! thanks

[2016-10-13 18:17] justuandme opened #11 "Scan Sub directories and Drives."
**1-** sub directories like in current user + pictures + any Sub directory of pictures.
i tried with single sub directory by providing path: `UserDir + "Pictures\\images",`
it do encrypt the images folder but on decryption the images which are placed on `Pictures\\images` folder are not readable.

**2-** Also search and `encrypt/decrypt` files extensions in other available drives.

[2016-10-13 19:14] mauri870 commented on #11
1 - I will investigate this behavior

2- The unlocker is compiled with the malware so both share the same cmd variables, including the `InterestingDirs`, so an unlocker will be useful only with the respective encrypter

[2016-10-13 19:15] #8 closed

[2016-10-13 19:49] justuandme commented on #11
This is a request for feature that can also search directories and files in other drives like E, F, Z etc. and encrypt it. rather than providing the full path of the folders, can it be use to search the files extensions in Other windows drives?
`2- Also search and encrypt/decrypt files extensions in other available drives.`

[2016-10-13 20:25] mauri870 commented on #11
I don't test it but I think you can specify custom drivers directly on the InterestingDirs variable. Internally I use `filepath.Walk` to match files on dirs and subdirs

[2016-10-13 21:32] justuandme commented on #11
when `EDrive = fmt.Sprintf("E:\\newfolder")`
This will do the job in E drive newfolder only.. but i want it to do job in whole E:\ drive without providing any folder name.
if i do like `EDrive = fmt.Sprintf("E:\\")`   it doesn't work.
is there is anyway to do job in whole drive without providing folder names ?

[2016-10-13 22:11] mauri870 commented on #11
From the `filepath.Walk` documentation
[code]
It's supposed to work :confused:

[2016-10-14 00:11] mauri870 commented on #11
@justuandme Try this:

[code]

[2016-10-14 01:54] #9 closed

[2016-10-14 03:39] justuandme commented on #11
Great This work now! :dancing_men:

[2016-10-14 06:54] justuandme commented on #11
now its not working on same VM after i revert and ran the same ransom binary.
it shows this error.
[code]
but the files are there at there paths.

[2016-10-14 11:18] mauri870 commented on #11
This error is supposed to be thrown on unix systems only :confused

But I think this is related [here](https://github.com/Masterminds/glide/blob/525b41b2b2c0041cc4f765fac073b1aa1bf82a48/repo/installer.go#L361-L369)

I will fix this as soon as possible

Thanks for your reports

[2016-10-14 22:47] Hanoosh commented on #11
Hello,

Please check this : Loop through files and folders recursively

https://gist.github.com/francoishill/a5aca2a7bd598ef5b563

and get is combined with something like :
C#
`foreach (string drive in Directory.GetLogicalDrives())`

also, i think is better to add a filter with black listed directories which we do not need like windows, program files,  recovery ... etc

in C# i do it like this :

[2016-10-15 03:18] azastrael commented on #5
GoDie

[2016-10-15 03:32] azastrael commented on #4
Ok, but what if the user adds the keys to the registry himself so that he can't be infected ?

[2016-10-15 10:05] Hanoosh commented on #4
@azastrael yes i though of that, another possible way is to MD5 a combination of some hardware serials and maybe some system, but this also is not good as some of those value changes and/or can be changed by user. using this MD5 we can contact the C2C and check if it already infected/exist in the database.

[2016-10-15 22:21] justuandme commented on #11
Hello,
im not good in GoLang nor C#...lets mauri finds it.
but i think we dont need to restrict or define folder names in C drive instead
mauri already provided some C drive paths where to encrypt.
btw i think we don't restrict some programs in "Program Files"
encrypt some steam games too xD

`SteamEncrypt = fmt.Sprintf("C:\\$ProgramFilesDir")`

[code]

Add exe in extentions

[code]

Moreover you

[2016-10-15 23:59] Hanoosh commented on #11
@justuandme steam games and saves are not saved as .exe in the programs folder, encrypting the game.exe or steam.exe is useless.

the C# code i wrote above scans all drives not only the C, also it is a bad idea to use hard-coded value C as you mentioned above "SteamEncrypt" , what if the OS in not installed in C drive ? 😉

[2016-10-16 00:55] justuandme commented on #11
@Hanoosh
the hard-coded value is just an example that is not the correct code, if you see my previous post above. i have asked for something like which start loop and scan all the drives.. A-Z and then start encrypting.

whatever the extension steam games uses we can add that extension.  i m making list of huge amount of extensions, will check what steam games extensions are and will post it here

[2016-10-16 01:19] mauri870 commented on #11
Hi guys, sorry for the delay

About this error:
[code]
The temporary file is created on `AppData\Local\Temp` on the System drive (`C` in most cases). For performance reasons I use the `os.Rename` to copy the temp file to the original file but on windows we cannot rename a file across drivers :disappointed:

I think I'll have to open the two files and copy them via stream (`io.Copy`)

[2016-10-16 01:21] mauri870 commented on #11
@justuandme Feel free to fork and add more extensions to match ;)

[2016-10-22 18:58] justuandme commented on #11
@mauri870 any changes so far ? did you check with all drives ?

[2016-10-23 16:04] mauri870 commented on #11
Hi @justuandme. This error:
[code]
is fixed [here](https://github.com/mauri870/ransomware/commit/3d4c07eddf30af3205c815ad83181606124c2bc7)

About scan drives, it's not implemented yet because are multiple folder that we need ignore otherwise will cause system instability and crashes.

For now you can specify drives manually

[2016-10-29 21:57] justuandme commented on #11
i specified drive letter manually... i specified all letters from A-Z but it crashes on scanning the valid one.
is there is any way to find the total number of drives ?  and scan those for files..?

[2016-10-30 18:03] mauri870 commented on #11
@justuandme You can use this [examples](http://stackoverflow.com/questions/23128148/how-can-i-get-a-listing-of-all-drives-on-windows-using-golang)

[2016-11-01 06:44] justuandme commented on #11
@mauri870 i have used this example before, but didn't work for me.
im not GoPro :( can u merge it or show me how to implement it.

[2016-11-10 23:29] mauri870 commented on #11
Hi @justuandme , sorry for the delay. I will add options for exclude dirs in the future.

About identify the available drives, it's more complicated because we need load the `kernel32.dll`, this will add more stuff to the project rather than the actual simple string slice. I will think more about this

[2017-02-03 19:25] wirehack7 opened #14 "Error 422"
I compiled it like described:
[code]

When running `ransomware.exe` in a Windows 7 VM it results in error:
`422 - Error validating payload, bad public key`

And log from `server` shows also 422 response code.
Is the ransomware not trusting self signed certs?

[2017-02-05 20:58] mauri870 commented on #14
Hi Markus, sorry for the delay. It'supposed to work with self signed certs,
but I think the problem is with the private and public keys. Please try to
clear the certs and rebuild it again from scratch, maybe make are cashing
some thinks

Em 3 de fev de 2017 5:25 PM, "Markus R." <notifications@github.com>
escreveu:

[2017-02-05 22:40] wirehack7 commented on #14
Okay found the error. Build crashed before, so the inserted key keeps in it (and not beeing deleted and overwriten by main.bak). Maybe changing main.go to main.go.code and then put it as main.go would be better. So it can be more easier restored. Had to delete the project and redownload it.

Thanks!

[2017-02-05 22:48] wirehack7 commented on #5
GoLocker, GoVent, GoFort, GoJail, GoWare.

[2017-02-06 22:26] wirehack7 commented on #4
Using Hardware ID, like from HDD or bios serial number.

Like: https://groups.google.com/forum/#!topic/golang-nuts/pKuFQxAy4P4

[2017-02-11 00:54] saranindia opened #15 "Files not encrypting"
I am new to golang, I am able to make exe. When I ran.. Its throwing files like SID and files encrypted.

Problems: its not encrypting all files on desktop or any other foldrrs .

Is I am missing anything ?

I can see message that encrypted 3 files .INI but not sure what's wrong

Please suggest.

[2017-02-11 12:01] mauri870 commented on #15
Hi @saranindia, possibly your file extensions or size not match with the specified on `cmd/common.go`. Please take a look

If this is not the problem, please remove the `-h windowsgui` from makefile and compile it again, so it will prompt any errors on the terminal window

[2017-02-12 12:49] saranindia commented on #15
Thanks for reply, I noticed that.. Access denied errors on C and D Drive and exiting.. is their any way to bypass?

Thanks

[2017-02-12 20:58] mauri870 commented on #15
You can see [here](https://github.com/mauri870/ransomware/blob/master/ransomware.manifest#L13) that it already invoke admin rights during execution

[2017-02-13 00:16] saranindia commented on #15
I realized it supports only type="win32" 32-bit.. How to make it work for 64-bit?

Plz suggest.

Thnx

[2017-02-13 05:06] saranindia commented on #15
I can see only.. below is encrypted.  Seems something wrong.. I am not sure what exactly it is..

C:\$Recycle.Bin\S-1-5-21-1092494081-4091530594-4120074157-500\desktop.ini
C:\$Recycle.Bin\S-1-5-21-1109832789-867174847-3869365320-500\desktop.ini
C:\$Recycle.Bin\S-1-5-21-11469178-268846834-3355212150-500\desktop.ini
C:\$Recycle.Bin\S-1-5-21-1186436836-991183251-254415931-500\desktop.ini
C:\$Recycle.

[2017-02-13 14:18] mauri870 commented on #15
It's suposed to work on 32 and 64 bits, I keep the x86 version to ensure the compatibility of in the two architectures.

About the files, on [common.go](https://github.com/mauri870/ransomware/blob/master/cmd/common.go#L25-L37) you can see that it's already ignoring files on the $Recycle.Bin folder. This behavior seems a bit strange :confused:

[2017-02-14 00:23] saranindia commented on #15
Made some changes and its working now..

Is their I can add code to open /show automatically HTML (decrypt) instructions once after program runs?

[2017-03-04 15:10] mysecurecode commented on #15
Hi @mauri870, i already followed your instruction to build the binaries, but i stuck when initiate the make command, very appreciate if you can help me to identify the problem, please look at the below output:

`sysadmin@ransom-cnc:~/.go/src/github.com/mauri870/ransomware$ make
mkdir -p /home/sysadmin/.go/src/github.com/mauri870/ransomware/build/ransomware
mkdir -p /home/sysadmin/.go/src/github.co

[2017-03-04 15:41] mauri870 commented on #15
@mysecurecode Please check if your $GOROOT variable exist and points to the root of the go src tree

[2017-03-04 15:44] mauri870 commented on #15
Also have a look at the [Go installation docs](https://golang.org/doc/install#install)
You can use docker too, which I recommend

[2017-03-05 03:07] mysecurecode commented on #15
@mauri870  thank you for the guide, the issue have been fixed.
Thanks!

[2017-03-08 04:47] mysecurecode opened #16 "Unable to find encryption key"
Hi @mauri870,

I Unable to find the encryption key to unlock the encrypted file, where can i find it?

Thank you.

[2017-03-08 05:06] mysecurecode commented on #16
@mauri870 ,

Sorry My Bad, please close this issue, i already get the method from your guide.

[2017-03-08 05:06] #16 closed

[2017-03-09 04:01] kiwoon opened #17 "Files not encrypting & server side error"
I have a problem..what a happen..?

![error](https://cloud.githubusercontent.com/assets/20625320/23735318/330539f6-04c8-11e7-9e98-d382ad037d65.JPG)

I attached another generate_cert.go source
succeed  make..
Files not encrypting...  server side error....
help me.........TT

[2017-03-09 11:36] mauri870 commented on #17
From what I remember 422 is referring to your RSA key. Probably your public and private key does not match. Please try to clean out the project and repeat the README steps

[2017-03-09 19:51] redpeony opened #18 "help me! make error"
I do not know programming. But I am studying hard. There was a problem building your project.

![image](https://cloud.githubusercontent.com/assets/26310705/23767754/1a970c48-054d-11e7-8fb6-61244dcd46bf.png)

where is generate_cert.go ? Where can I get it?
generate_cert.go program it myself? It is harsh for me....TT
I respect you. I need help.

[2017-03-09 19:57] redpeony commented on #18
I find generate_cert.go......in this page  https://golang.org/src/crypto/tls/generate_cert.go
success build project. but
![image](https://cloud.githubusercontent.com/assets/26310705/23768007/ea5827b4-054d-11e7-9e82-b3c19be86499.png)

I see this error.
please answer me.

[2017-03-09 20:03] mauri870 commented on #18
Please take a look at #17

[2017-03-09 20:09] redpeony commented on #18
Thank you for your reply. this site(https://golang.org/src/crypto/tls/generate_cert.go)... Is the file correct?
If it is correct, we will try again.

[2017-03-09 20:14] mauri870 commented on #18
Please refer to golang installation docs. Your GOROOT env needs to point to the go source tree

[2017-03-09 21:07] redpeony commented on #18
I am really sorry. My status is as follows.

![image](https://cloud.githubusercontent.com/assets/26310705/23770767/b0bcd838-0557-11e7-8e94-2120eff89cc2.png)

is it wrong?

[2017-03-09 22:18] mauri870 commented on #18
I think it's correct :/

What's your go version?

[2017-03-09 22:39] redpeony commented on #18
My version is go1.8 linux / amd64.
Is it a problem to use Kali Linux?

422 Is error also related to file encryption?
When you run the ransomware.exe file, the target file is not encrypted.

[2017-03-10 11:15] mauri870 commented on #18
422 is possibly related to the RSA keys that not match

Try clean your project and rebuild it again

[2017-04-14 12:08] max0451 opened #19 "Access Denied"
I'm just starting out programming and I'm stuck with something here,

it's not encrypting anything, only trying to open the folders and getting access denied. The software runs as administrator.
If I change the code like this though (which you suggested in another issue):
`// Directories to walk searching for files
InterestingDirs = []string{
    UserDir + "Pictures",
    UserDir + "Documents",

[2017-06-03 16:54] merahawan commented on #15
![capture](https://cloud.githubusercontent.com/assets/21274374/26755458/50de216a-4896-11e7-813a-0840b74115ad.JPG)
@saranindia @mauri870 Hi guys,I m facing the access deny issue , how to fix ? appreciate your suggestions

[2017-06-03 20:30] merahawan commented on #14
@wirehack7 same error cannot solve, re downloaded the project didn't fix, how to clear the certs ? can you let me know step by step?
appreciate your suggestions

[2017-06-09 09:14] karikalansaitechnology commented on #3
i have given this instruction in terminal of lubuntu 14.04.1 below mentioned
go get -v github.com/mauri870/ransomware
 and i got this error can't load package: package github.com/mauri870/ransomware: no buildable Go source files in /root/Projects/Proj1/src/github.com/mauri870/ransomware
i can't able to resolve that error pls help me

[2017-06-09 09:22] karikalansaitechnology commented on #14
can't load package: package github.com/mauri870/ransomware: no buildable Go source files in /root/Projects/Proj1/src/github.com/mauri870/ransomware

[2017-06-09 09:23] karikalansaitechnology commented on #14
how to fix above problem

[2017-06-09 17:05] mauri870 commented on #3
@karikalansaitechnology Try `go get -v github.com/mauri870/ransomware/...`

[2017-06-10 09:35] wirehack7 commented on #14
Read all the comments:
https://github.com/mauri870/ransomware/issues/14#issuecomment-277556066

[2017-06-10 09:35] #14 closed

[2017-06-12 18:50] K1NGCOBRA commented on #3
ugh u can use this lolol...  for Windows... why would u want a large openssl..
https://github.com/wbenny/mini-tor

[2017-06-12 18:56] K1NGCOBRA commented on #3
also u can use winsock to make requests if u want... but i dont know how you would resolve the onion domain since tor doesnt have DNS

[2017-06-25 04:39] And82 commented on #18
Hi, I have the same problem as the friend above. Any solution for this?

![go](https://user-images.githubusercontent.com/29684614/27513708-1cd2bd60-5947-11e7-8bf6-6c08f9b2544e.JPG)

[2017-06-27 01:04] And82 commented on #18
I did as I said, I deleted the certs and recreated again and the same error appears. Has anyone managed to solve it?

[2017-06-27 01:14] mauri870 commented on #18
Sorry for the delay guys... I'll push a fix soon

[2017-06-27 01:41] And82 commented on #18
Many thanks, I'll be waiting for you

[2017-06-27 02:19] mauri870 commented on #18
@And82 See this [commit](https://github.com/mauri870/ransomware/commit/658ac0b7cb5f028c8d8a9d3454f4e8ecb38d1dda)

I think this will fix the issues related to the rsa keys

[2017-06-27 02:30] mauri870 commented on #19
I think this was fixed by 232a2432a53a05c163769a6dacd9bf63826a467a

[2017-06-27 17:47] mauri870 commented on #19
Feel free to reopen the issue if you have any questions

[2017-06-27 17:47] #19 closed

[2017-06-28 22:36] mauri870 commented on #3
I think the best way to hide the communication between the malware and the server is to include the tor binaries in the malware with go-bindata or download it at the start of the program and start the proxy before any http calls.
Just like [WanaDecrypt0r](https://www.nettitude.com/uk/incident-response/wannacry-overview/):
`WanaDecrypt0r moves on to download a TOR client and extracts the contents i

[2017-06-29 00:23] mauri870 commented on #17
I've fixed these problems with the rsa keys not cleaned after a failed build. If the problem still happens please reopen the issue

[2017-06-29 00:23] #17 closed

[2017-06-30 19:51] Dioberne commented on #5
GosomeWhare

[2017-07-03 16:32] Shinkurt commented on #5
LMAO, none of you thought of it? **_GoCry_**

[2017-07-03 17:21] mauri870 commented on #18
Closing this issue, if you have any related problem please open a new one

[2017-07-03 17:21] #18 closed

[2017-07-03 17:22] mauri870 commented on #5
Nice, GoCry is a great name @Shinkurt

[2017-07-03 18:21] sirdarckcat commented on #5
GOnnaCry as suggested by
https://twitter.com/valorcz/status/881938454304706561

[2017-07-15 01:22] MRxC0DER opened #20 "Help Me Sir"
Problem Photo

i hope you help me <3

[2017-07-15 02:46] mauri870 commented on #20
Hi @MRxC0DER, you need to run `make deps` and it will install the necessary libs from [here](https://github.com/mauri870/ransomware/blob/master/Makefile#L15-L19)

Don't forget to have the dir `$GOPATH/bin` in your $PATH variable

[2017-07-17 19:48] MRxC0DER commented on #20
can you write the steps to install this virus in windows please :)

[2017-07-19 02:56] mauri870 commented on #20
The steps are described in detail on the README, if you have any related question please post here

[2017-07-19 02:58] mauri870 commented on #15
I think you need to run as administrator to allow Go to touch these directories

[2017-07-19 03:01] mauri870 commented on #11
I'll close this issue since now we can loop all available drives by default

[2017-07-19 03:01] #11 closed

[2017-07-19 03:03] #2 closed

[2017-07-25 22:46] pDotCom commented on #20
After getting this same problem i tried to make deps and i get'

root@kali:~/Desktop/ransomware-master# make deps
go get -v github.com/Masterminds/glide
glide install
make: glide: Command not found
recipe for target 'deps' failed
make: *** [deps] Error 127

Also how do i have the dir $GOPATH/bin in my $PATH variable.
Thanks in advance.

[2017-07-25 23:29] mauri870 commented on #20
Simply append the $GOPATH/bin to your PATH
@pDotCom I use this in my .profile(or .bashrc, .zshrc if you preffer):
[code]

[2017-07-26 11:50] pDotCom commented on #20
Ok i added the lines and make deps worked but now when i GOOS=windows make I get:

cp /root/Desktop/ransomware-master/build/ransomware/ransomware.syso /root/Desktop/ransomware-master/build/unlocker/unlocker.syso
cd /root/Desktop/ransomware-master/cmd && cp -r ransomware unlocker server /root/Desktop/ransomware-master/build
cd /root/Desktop/ransomware-master/build/server && env GOOS=linux go run /s

[2017-07-26 11:54] mauri870 commented on #20
@pDotCom You need to set your GOROOT env too.

If you installed Go in `/go`, set this path as your GOROOT:
[code]

[2017-07-26 12:35] pDotCom commented on #20
I'm sure im almost there because now i get all the way to the bottom of the build just before it finishes i get:
	*standard.Server does not implement "github.com/mauri870/ransomware/vendor/github.com/labstack/echo/engine".Server (wrong type for SetHandler method)
		have SetHandler("github.com/labstack/echo/engine".Handler)
		want SetHandler("github.com/mauri870/ransomware/vendor/github.com/labstac

[2017-07-26 12:38] pDotCom commented on #20
i made the mauri870 folder myself and put it in root/code/go/src then added the Github.com folder

[2017-07-26 14:52] mauri870 commented on #20
GOPATH is different than GOROOT
GOPATH holds your installed packages and GOROOT the root of the Go compiler and libraries

You don't need to make any changes in the project structure to compile, take a look at the .travis.yaml. After a normal Go installation, you need only to setup your GOROOT, add GOPATH/bin to your path and go get the project as described in the README.
You can also use the Dock

[2017-08-09 20:32] AguNnamdi commented on #15
I have just created the three binaries - ransomware.exe, server, unlocker.exe but I 'm stuck..
how do I start the server in my kali vm and make ransomware.exe run on a win7 vm on host mac os...?
The path to the server in kali is /goproject/github.com/mauri870/ransomware/bin/server/
I ran ./server in the current working directory but nothing showed up.: as if it was waiting for a connection
Then we

[2017-08-09 21:18] infinitygod17 commented on #20
Can you explain this please:

Simply append the $GOPATH/bin to your PATH
@pDotCom I use this in my .profile(or .bashrc, .zshrc if you preffer):

export PATH=$PATH:$GOPATH/bin
Don't forget to run source .yourfile

[2017-08-11 06:16] david-bla opened #21 "Well done - but failes in build"
Hey, first thank you for this example.

Yesterday I was able to build on a live kali without bigger problems.
I changed my test setup and created some vms but i wasnt able to build sucesfully again...
One Issue is that after the debian install "apt install golang" there is no $GOPATH and $GOROOT set.
I usually check where the main files are "/usr/lib/go" and export GOROOT.
I set the GOPATH to $HOM

[2017-08-11 11:57] david-bla commented on #20
The important point is to setup **GOPATH** and **GOROOT** correctly.
In my installations I'd to set:
export GOPATH=$HOME\go
export GOROOT=\usr\lib\go
explort PATH=$PATH:$GOPATH\bin

i was once able to build sucessfully but now i get a error described @ #21

The point @mauri870 mentioned with

is about to make the env change persistent.
(otherwise a restart of your system will cause in unsetted $GO

[2017-08-11 13:09] david-bla commented on #21
The docker way is working well!
I've to dig deeper in golang and docker.
I stated docker for using ci with gitlab but it seems so useful, like the golang (you project are the first golang files i red) nice language!

[2017-08-17 01:13] AguNnamdi commented on #20
For Clarification, here's how my ~/.profile is configured, This should work correctly ----->

export GOPATH="$HOME/go_projects"

export GOBIN="$GOPATH/bin"

export PATH=$PATH:$GOPATH/bin

export GOROOT=/usr/local/go

#  go_projects is the folder I made during  installation of Go to hold my projects. It contains bin, pkg and src.

 # /usr/local/go is the Folder where I installed go

[2017-08-17 06:21] AguNnamdi commented on #20
Don't forget source ~/.profile

[2017-09-22 19:52] juniorkalvin7 opened #22 "Error public.pem"
$ make
rm -r /home/test/go/src/github.com/mauri870/ransomware/bin || true
rm: não foi possível remover '/home/test/go/src/github.com/mauri870/ransomware/bin': Arquivo ou diretório não encontrado
mkdir -p /home/test/go/src/github.com/mauri870/ransomware/build/ransomware /home/test/go/src/github.com/mauri870/ransomware/build/unlocker /home/test/go/src/github.com/mauri870/ransomware/build/server
open

[2017-09-22 20:58] juniorkalvin7 commented on #22
# github.com/mauri870/ransomware/build/ransomware
runtime.main: call to external function main.main
runtime.main: main.main: not defined
runtime.main: undefined: main.main
Makefile:33: recipe for target 'build' failed
make: *** [build] Error 2

[2017-09-22 23:42] klogHacks opened #23 "How Can This Error be Fix"
I dont not have Linux OS(on VirtualBox). I configured cygwin on my Windows 8.

This is what I got when running the make command:

e is 65537 (0x10001)
openssl rsa -in /cygdrive/c/gowork/src/github.com/mauri870/ransomware/build/server/private.pem -outform PEM -pubout -out /cygdrive/c/gowork/src/github.com/mauri870/ransomware/build/ransomware/public.pem
writing RSA key
cd /cygdrive/c/gowork/src/gith

[2017-09-22 23:44] klogHacks commented on #22
My own error is:

e is 65537 (0x10001)
openssl rsa -in /cygdrive/c/gowork/src/github.com/mauri870/ransomware/build/server/private.pem -outform PEM -pubout -out /cygdrive/c/gowork/src/github.com/mauri870/ransomware/build/ransomware/public.pem
writing RSA key
cd /cygdrive/c/gowork/src/github.com/mauri870/ransomware/build/ransomware && go-bindata -pkg main -o public_key.go public.pem
rsrc -manifest r

[2017-09-23 01:11] Dontmindmes opened #24 "./build-docker.sh: line 14: docker: command not found"
~/go/src/github.com/mauri870/ransomware$ ./build-docker.sh make
Building the image...
./build-docker.sh: line 14: docker: command not found

Using windows 10 bash, please help

[2017-09-24 11:44] klogHacks commented on #24
Instead of that...Run "make deps"
The run "make"

[2017-09-27 12:55] klogHacks opened #25 "Ransomware.exe not encrypting FILES (no Connection C&C)"
Please help me on the above SUBJECT

[2017-10-05 18:04] ozgursevgi opened #26 "GOOS=windows make error"
GOOS=windows make
rm -r /usr/local/go/ransomware/bin || true
rm: cannot remove '/usr/local/go/ransomware/bin': No such file or directory
mkdir -p /usr/local/go/ransomware/build/ransomware /usr/local/go/ransomware/build/unlocker /usr/local/go/ransomware/build/server
openssl genrsa -out /usr/local/go/ransomware/build/server/private.pem 4096
Generating RSA private key, 4096 bit long modulus
.........

[2017-10-12 19:40] john323130 opened #27 "Error with echo while "make"."
I get this error while building:

![275097bce540b264216ae9ae284c9f2f](https://user-images.githubusercontent.com/23268779/31515548-d23f1bd6-af95-11e7-87cc-a1d42a22851f.png)

Help please! :)
@mauri870

[2017-10-12 19:57] john323130 commented on #27
This happens when I use the v.2.2.0 of echo, I get an error while using the v3 of echo so I guess it isn't supported yet

[2017-10-13 08:33] john323130 commented on #27
I used v.2.0.0 of echo but now I get this error:

rm -r /root/Desktop/ransomware/bin || true
mkdir -p /root/Desktop/ransomware/build/ransomware /root/Desktop/ransomware/build/unlocker /root/Desktop/ransomware/build/server
openssl genrsa -out /root/Desktop/ransomware/build/server/private.pem 4096
Generating RSA private key, 4096 bit long modulus
.....................................................

[2017-10-13 11:25] mauri870 commented on #26
Your error is related to the gobindata tool, please check if your $GOPATH/bin is appended to your $PATH and don't forget to run make deps as described in the README.

[2017-10-13 11:27] mauri870 commented on #27
The glide.yaml locks the echo dependency at 2.1.x, this version is supposed to work without problems. Please try to stash your changes and repeat the installation instructions. You can also use the docker installation, it is less error prone and don't require a proper environment.

[2017-10-14 15:39] #27 closed

[2017-11-02 10:51] ozgursevgi opened #28 "make: rsrc: Command not found"
cd /root/usr/local/src/src/github.com/mauri870/ransomware/build/ransomware && go-bindata -pkg main -o public_key.go public.pem
rsrc -manifest ransomware.manifest -ico icon.ico -o /root/usr/local/src/src/github.com/mauri870/ransomware/build/ransomware/ransomware.syso
make: rsrc: Command not found
Makefile:22: recipe for target 'pre-build' failed
make: *** [pre-build] Error 127

[2017-11-02 11:22] mauri870 commented on #28
Please refer to the .travis.yaml CI config to see the env variables needed and take a look at https://github.com/mauri870/ransomware/issues/20

[2017-11-03 09:02] ozgursevgi opened #29 "how to write https://localhost:8080/api/keys/:id"

[2017-11-03 09:52] #29 closed

[2017-11-03 09:55] ozgursevgi opened #30 "How to disable server"
How to disable server or true and false

[2018-01-20 22:00] krazyjay opened #31 "hide encrypted files till encryption finished and storage capacity issue"
Hi Mauri,
Thanks for awesome project. I tried locally and it did work but I can foresee some concern.
First of all I could see that I have encrypted file along with original. So it would be obvious that anyone infected could see that which is not good idea. I mean probably I didn't wait till it finish encrypting all file and hence I could see them as once all encryption finishes, only encrypted fi

[2018-01-20 22:20] krazyjay commented on #5
"GoToHell"

[2018-03-24 10:47] TechniChief opened #32 "command not found"
$ ./build-docker.sh make
Building the image...
./build-docker.sh: line 14: docker: command not found

Thank you for help
I have a question can i edit the panel where it says your files are encrypted etc to change my btc adress

[2018-03-31 14:46] Metasploiter opened #33 "bindata: Input path 'public.pem' is not a directory."
**First of all, thank you for this great tool
and your support for it
but I have this problem and I tried to fix this in many ways but it's still happening
here is my issue:**
==========================================================
cd /home/batman/Go/src/github.com/mauri870/ransomware/build/ransomware && go-bindata -pkg main -o public_key.go public.pem
bindata: Input path 'public.pem' is not a

[2018-03-31 23:50] mauri870 commented on #3
Finished the tor support using the standalone tor windows proxy :smile:. Enjoy

[2018-03-31 23:50] #3 closed

[2018-03-31 23:52] mauri870 commented on #33
The master branch is now updated with a step-by-step demo, can you please try that? If the problem persists feel free to open a new issue :smile:

[2018-03-31 23:52] #33 closed

[2018-04-01 14:34] mauri870 commented on #32
The master branch is now updated with a step-by-step demo, can you please try that? If the problem persists feel free to open a new issue

[2018-04-01 14:34] #32 closed

[2018-04-02 16:06] 73CH9ICH13F opened #35 "Need help"
Hello im using windows 10 and could someone help me to build the randsomeware

[2018-04-11 15:12] AlistairXX commented on #31
I have the same issues related to our rules of engagement.

[2018-04-11 21:08] Metasploiter opened #36 "Files damaged please help !"
hello dear
i have i really big problem i tasted ransomware in my vm and it's working
but when i have tried in my host something interrupt the encryption operation
and i tried again for three times
and now when i'm encrypting my files it want run all files damaged and the ransomware didn't change the files name or extension please help me i don't know what to do

[2018-05-21 18:06] cretz commented on #3
@mauri870 - I wrote https://github.com/cretz/bine which leverages https://github.com/cretz/tor-static to let you statically compile Tor in if you want. You can create onion services on the client side too if you want. There is built-in support for data dir deletion and not leaving things in default locations like regular Tor use might.

[2018-07-02 06:36] kalhori124 opened #37 "no Go files in ( Error )"
How can I fix this ?

[root@server ~]# go get -v github.com/mauri870/ransomware
github.com/mauri870/ransomware (download)
created GOPATH=/root/go; see 'go help gopath'
package github.com/mauri870/ransomware: no Go files in /root/go/src/github.com/mauri870/ransomware
[root@server ~]# cd $GOPATH/src/github.com/mauri870/ransomware
-bash: cd: /src/github.com/mauri870/ransomware: No such file or direct

[2018-07-02 07:55] UN5T48L3 commented on #26
same issue,

how to fix it?
I am new on Golang.

[2018-07-02 10:14] UN5T48L3 commented on #37
even I installed and setup go evn I getting this error;

go get -v github.com/Masterminds/glide
glide install
make: glide: Command not found
Makefile:15: recipe for target 'deps' failed
make: *** [deps] Error 127

[2018-07-02 11:00] kalhori124 commented on #37
# ./build-docker.sh make
Building the image...
./build-docker.sh: line 14: docker: command not found

[2018-07-02 11:02] kalhori124 opened #38 "Please update the installation document"
Building the binaries and Docker on CentOS 7 do not work, Please update the guide.

[2018-07-02 12:15] UN5T48L3 commented on #38
yes bro please

[2018-07-02 15:47] mauri870 commented on #37
@UN5T48L3 You must append the $GOPATH/bin to your $PATH variable, also use GOBIN=$GOPATH/bin

[2018-07-02 15:48] mauri870 commented on #37
@kalhori124 In order to build with docker you must install docker first :sweat_smile:

[2018-07-03 17:10] UN5T48L3 opened #39 "path problems"
Hello bro,
I am facing this errors since last day. I am pretty ocb about to fix it today. Could you help me?
thanks!

![ekran resmi 2018-07-03 20 06 52](https://user-images.githubusercontent.com/39417235/42234333-ea732f8a-7efc-11e8-97df-254f512a6db0.png)
![ekran resmi 2018-07-03 19 58 32](https://user-images.githubusercontent.com/39417235/42234334-ea9c93a2-7efc-11e8-83dd-bdf06fa8050f.png)
![ekran

[2018-07-03 17:22] UN5T48L3 commented on #39
![ekran resmi 2018-07-03 20 21 35](https://user-images.githubusercontent.com/39417235/42234898-b31c4c5e-7efe-11e8-85b3-ee65c6f1fcd9.png)
and this is another problem

[2018-07-03 17:35] UN5T48L3 commented on #39
when I run `make deps`
![ekran resmi 2018-07-03 20 34 46](https://user-images.githubusercontent.com/39417235/42235477-8d3d521a-7f00-11e8-9943-78a481115b36.png)

[2018-07-03 17:37] UN5T48L3 commented on #39
when I run `make -e GOOS=windows`
![ekran resmi 2018-07-03 20 36 26](https://user-images.githubusercontent.com/39417235/42235554-ce85d77e-7f00-11e8-9fb4-59552bc757a6.png)

[2018-07-03 19:21] mauri870 commented on #39
As described in #37, you MUST export an environment variable named GOBIN, and append it to your PATH variable in order to use go get`ted` binaries.
Add the following to one of your shell's startup files (.profile, .bashrc, etc)
[code]

Then reload your shell by issuing the `source` command or reopen another shell for this changes to take effect. After this `glide` and `go-bindata` will be availabl

[2018-07-03 19:30] UN5T48L3 commented on #39
I appreciate that your answer
and can we make new exe file with same commands?
I mean is this true?
 `./build-docker.sh make -e GOOS=windows`

[2018-07-03 20:35] mauri870 commented on #39
@UN5T48L3 Yes :smile:

[2018-07-03 20:53] UN5T48L3 commented on #39
so now;
do you have any idea?
![ekran resmi 2018-07-03 23 52 42](https://user-images.githubusercontent.com/39417235/42244078-31c079fa-7f1c-11e8-87f4-6f3a54adcca9.png)

[2018-07-03 23:01] mauri870 commented on #39
@UN5T48L3 Sorry, I forgot the export :sweat_smile:

[code]

[2018-07-05 01:34] mauri870 commented on #36
Sorry buddy, your files are gone forever

[2018-07-05 01:34] #36 closed, assigned to nobody

[2018-07-06 06:22] swenilton opened #40 "generate_cert.go not found"
stat /src/crypto/tls/generate_cert.go: no such file or directory

[2018-07-06 16:50] UN5T48L3 opened #41 "different dns"
Hello again bro
This time I have used docker for building binaries
But When I run the exe file in another computer It shows this error.
Where is the problem?
![ekran resmi 2018-07-06 19 48 27](https://user-images.githubusercontent.com/39417235/42390742-a0344034-8155-11e8-965c-b580fdb1eb17.png)
![ekran resmi 2018-07-06 19 48 16](https://user-images.githubusercontent.com/39417235/42390746-a3f0262a-8

[2018-07-06 17:58] UN5T48L3 commented on #41
without tor;

![ekran resmi 2018-07-06 20 58 18](https://user-images.githubusercontent.com/39417235/42393534-56eb7884-815f-11e8-91dd-c151d24da974.png)

[2018-07-08 18:15] #40 closed, assigned to nobody

[2018-07-28 23:01] 0vert1m3 opened #42 "Invalid character '<' looking for beginning of value"
ERROR : Invalid character '<' looking for beginning of value
Go Version: go version go1.10.2 linux/amd64

Nothing changed on the code only config stuff.

[2018-08-15 22:25] Peter-an opened #43 "Beginner Question"
Hey,
downloaded Linux on parallel desktop . Do I need any extra software ? Can somebody gives me an instruction for noobs ?
thx

[2018-08-21 14:55] youngxadin opened #44 "Write to all users on the system?"
Is it possible to have the script write the 2 html files (files encrypted, and how to decrypt) to all users instead of just the one who runs the script?

[2018-08-30 10:12] Gembeltz opened #45 "GOOS=windows make error"
![screenshot from 2018-08-30 17-11-41](https://user-images.githubusercontent.com/33371685/44845460-cae6a900-ac77-11e8-82f3-f35c31d80701.png)

[2018-08-30 10:17] Gembeltz commented on #45
![screenshot from 2018-08-30 17-15-38](https://user-images.githubusercontent.com/33371685/44845759-94f5f480-ac78-11e8-9698-3d1ff7b0989f.png)
how to fix

[2018-08-30 17:36] Hemil96 commented on #43
Hey @Peter-an
Can you please specify which OS of Linux?

[2018-08-30 23:52] Gembeltz commented on #39
I tried GOOS = windows make after I tried no encrypted files
do you have to run the docker first before creating a binnary file

![screenshot from 2018-08-31 06-52-24](https://user-images.githubusercontent.com/33371685/44885332-6e70a180-acea-11e8-86aa-c6951792b61b.png)

[2018-08-31 02:53] Gembeltz commented on #42
can you do this for this problem

[2018-09-01 09:40] Gembeltz commented on #15
hi mauri, hi all..
what about this problem
![screenshot from 2018-09-01 16-38-35](https://user-images.githubusercontent.com/33371685/44944697-addfe080-ae05-11e8-98ae-07f70b588b93.png)

[2018-09-01 09:50] Gembeltz commented on #41
![screenshot from 2018-09-01 16-38-35](https://user-images.githubusercontent.com/33371685/44944772-0c598e80-ae07-11e8-976b-96c5c1cf50ef.png)
have you been able to with this problem

[2018-09-06 12:27] mauri870 commented on #41
@Gembeltz Your C&C server is running on port 8080 locally, the ngrok url is already pointing port 80 to 8080, so use the ngrok url with port 80 instead of 8080.

[2018-09-06 15:35] Gembeltz commented on #41
yes i can,
can the domain be replaced with .onion and forward ports with ngrok
if how can the command be?

[2018-09-06 15:36] Gembeltz commented on #41
if the server is hidden it will be better and more effective to spread this malware

[2018-09-08 07:33] Gembeltz commented on #41
hi @mauri870  mauri can it be the version 1.2 version

[2018-09-11 23:47] mauri870 commented on #39
@Gembeltz If you choose the docker installation then you should install docker first. Otherwise stick with the manual steps.

[2018-09-12 03:12] Gembeltz commented on #39
@mauri870 how to build with tor

[2018-09-12 18:56] mauri870 commented on #39
Please follow the guide in the README to setup the project using ngrok and Tor.

[2018-09-13 01:57] Gembeltz commented on #39
what is this command tor
make -e SERVER_HOST=2af7161c.ngrok.io SERVER_PORT=80 USE_TOR=true

Kamis, 13 September 2018, Mauri de Souza Nunes <notifications@github.com>
menulis:

[2018-09-13 04:59] Gembeltz commented on #39
![screenshot from 2018-09-13 11-43-46](https://user-images.githubusercontent.com/33371685/45467933-58cc9480-b74c-11e8-9ede-3e35e8d52253.png)
is there something wrong to build tor

[2018-09-27 14:44] Gembeltz commented on #41
vps that supports servers and ngrok, what vps

[2018-10-12 07:45] awesomeness111 commented on #45
Same :
make -e GOOS=windows
rm -r /root/ransomware/bin || true
rm: cannot remove '/root/ransomware/bin': No such file or directory
mkdir -p /root/ransomware/build/ransomware /root/ransomware/build/unlocker /root/ransomware/build/server
openssl genrsa -out /root/ransomware/build/server/private.pem 4096
Generating RSA private key, 4096 bit long modulus
...............................................

[2018-10-12 08:30] awesomeness111 commented on #45
Found solution. All is ok. Thanks.

[2018-10-21 10:11] mbda81 commented on #45
how did you solve it?

[2018-10-21 21:40] mauri870 commented on #45
Set $GOROOT to point to your Go source tree. In my case is /usr/local/go

[2018-10-29 11:45] #45 closed, assigned to nobody

[2018-10-30 12:04] Gembeltz commented on #41
@mauri870 the file is too large to transfer to the victim

[2018-12-17 19:06] Gembeltz commented on #39
![screenshot 2018-12-17 14 04 17](https://user-images.githubusercontent.com/33371685/50109133-f7153e00-0204-11e9-8f5a-a504405180c8.png)
error make deps @mauri870

[2019-01-05 06:17] VAP305 opened #47 "VIDEO TUTORIAL"
pls make a more detailed NEW VIDEO on it
bcz the old video is without TOR support and pls add VOICE to your VIDEO too.

thx ;-)

[2019-01-11 10:48] brunolopes446 opened #48 "Unlocker not working"
Unlocker is not working.
Tested it on multiple different windows 10 environments.

It successfully crypts the files, I can see the decryption key in the Server, but when use the unlocker, the files are not decrypter.
After inserting the decrypt key, the "unlocker" window just closes immediatly, giving no output and no feedback.